# Node modules
node_modules/

# Logs
logs/
*.log

# Build output
dist/
build/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

# Vite output
.vite/

# TypeScript build output
*.tsbuildinfo

# Ignore all .env files
.env*
